<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  Home Page
  
  <%= link_to "Home", 'static_pages/home' %>
  <%= link_to "About", 'static_pages/about' %>
  <%= link_to "Help", 'static_pages/help' %>
  <%= link_to "Contact", 'static_pages/contact' %>
</p>